function Board.new 1
    push constant 1
    call Memory.alloc 1
    pop pointer 0
    push constant 10
    pop static 0
    push constant 8
    pop static 1
    push constant 12
    pop static 2
    push constant 200
    call Array.new 1
    pop this 0
    push constant 0
    pop local 0
label Board_0
    push local 0
    push constant 200
    lt
    not
    if-goto Board_1
    push local 0
    push this 0
    add
    push constant 0
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push local 0
    push constant 1
    add
    pop local 0
    goto Board_0
label Board_1
    push pointer 0
    return
function Board.dispose 0
    push argument 0
    pop pointer 0
    push this 0
    call Array.dispose 1
    pop temp 0
    push pointer 0
    call Memory.deAlloc 1
    pop temp 0
    push constant 0
    return
function Board.getCell 0
    push argument 0
    pop pointer 0
    push argument 2
    push constant 10
    call Math.multiply 2
    push argument 1
    add
    push this 0
    add
    pop pointer 1
    push that 0
    return
function Board.setCell 0
    push argument 0
    pop pointer 0
    push argument 2
    push constant 10
    call Math.multiply 2
    push argument 1
    add
    push this 0
    add
    push argument 3
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 0
    return
function Board.canPlace 3
    push argument 0
    pop pointer 0
    push constant 0
    pop local 0
label Board_2
    push local 0
    push constant 4
    lt
    not
    if-goto Board_3
    push argument 3
    push argument 1
    push argument 2
    push local 0
    call PieceData.getX 3
    add
    pop local 1
    push argument 4
    push argument 1
    push argument 2
    push local 0
    call PieceData.getY 3
    add
    pop local 2
    push local 1
    push constant 0
    lt
    push local 1
    push constant 9
    gt
    or
    not
    if-goto Board_5
    push constant 0
    return
    goto Board_4
label Board_5
label Board_4
    push local 2
    push constant 19
    gt
    not
    if-goto Board_7
    push constant 0
    return
    goto Board_6
label Board_7
label Board_6
    push local 2
    push constant 1
    neg
    gt
    not
    if-goto Board_9
    push local 2
    push constant 10
    call Math.multiply 2
    push local 1
    add
    push this 0
    add
    pop pointer 1
    push that 0
    push constant 0
    eq
    not
    not
    if-goto Board_11
    push constant 0
    return
    goto Board_10
label Board_11
label Board_10
    goto Board_8
label Board_9
label Board_8
    push local 0
    push constant 1
    add
    pop local 0
    goto Board_2
label Board_3
    push constant 1
    neg
    return
function Board.lockPiece 3
    push argument 0
    pop pointer 0
    push constant 0
    pop local 0
label Board_12
    push local 0
    push constant 4
    lt
    not
    if-goto Board_13
    push argument 3
    push argument 1
    push argument 2
    push local 0
    call PieceData.getX 3
    add
    pop local 1
    push argument 4
    push argument 1
    push argument 2
    push local 0
    call PieceData.getY 3
    add
    pop local 2
    push local 2
    push constant 1
    neg
    gt
    push local 2
    push constant 20
    lt
    and
    not
    if-goto Board_15
    push local 2
    push constant 10
    call Math.multiply 2
    push local 1
    add
    push this 0
    add
    push constant 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push pointer 0
    push local 1
    push local 2
    push constant 1
    neg
    call Board.drawCell 4
    pop temp 0
    goto Board_14
label Board_15
label Board_14
    push local 0
    push constant 1
    add
    pop local 0
    goto Board_12
label Board_13
    push constant 0
    return
function Board.clearLines 5
    push argument 0
    pop pointer 0
    push constant 0
    pop local 2
    push constant 19
    pop local 0
label Board_16
    push local 0
    push constant 1
    neg
    gt
    not
    if-goto Board_17
    push constant 1
    neg
    pop local 3
    push constant 0
    pop local 1
label Board_18
    push local 1
    push constant 10
    lt
    not
    if-goto Board_19
    push local 0
    push constant 10
    call Math.multiply 2
    push local 1
    add
    push this 0
    add
    pop pointer 1
    push that 0
    push constant 0
    eq
    not
    if-goto Board_21
    push constant 0
    pop local 3
    goto Board_20
label Board_21
label Board_20
    push local 1
    push constant 1
    add
    pop local 1
    goto Board_18
label Board_19
    push local 3
    not
    if-goto Board_23
    push local 2
    push constant 1
    add
    pop local 2
    push local 0
    push constant 1
    sub
    pop local 4
label Board_24
    push local 4
    push constant 1
    neg
    gt
    not
    if-goto Board_25
    push constant 0
    pop local 1
label Board_26
    push local 1
    push constant 10
    lt
    not
    if-goto Board_27
    push local 4
    push constant 1
    add
    push constant 10
    call Math.multiply 2
    push local 1
    add
    push this 0
    add
    push local 4
    push constant 10
    call Math.multiply 2
    push local 1
    add
    push this 0
    add
    pop pointer 1
    push that 0
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push local 1
    push constant 1
    add
    pop local 1
    goto Board_26
label Board_27
    push local 4
    push constant 1
    sub
    pop local 4
    goto Board_24
label Board_25
    push constant 0
    pop local 1
label Board_28
    push local 1
    push constant 10
    lt
    not
    if-goto Board_29
    push local 1
    push this 0
    add
    push constant 0
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push local 1
    push constant 1
    add
    pop local 1
    goto Board_28
label Board_29
    goto Board_22
label Board_23
    push local 0
    push constant 1
    sub
    pop local 0
label Board_22
    goto Board_16
label Board_17
    push local 2
    push constant 0
    gt
    not
    if-goto Board_31
    push pointer 0
    call Board.drawAll 1
    pop temp 0
    goto Board_30
label Board_31
label Board_30
    push local 2
    return
function Board.drawCell 2
    push argument 0
    pop pointer 0
    push static 0
    push argument 1
    push static 2
    call Math.multiply 2
    add
    pop local 0
    push static 1
    push argument 2
    push static 2
    call Math.multiply 2
    add
    pop local 1
    push argument 3
    call Screen.setColor 1
    pop temp 0
    push local 0
    push local 1
    push local 0
    push constant 10
    add
    push local 1
    push constant 10
    add
    call Screen.drawRectangle 4
    pop temp 0
    push constant 0
    return
function Board.drawAll 2
    push argument 0
    pop pointer 0
    push constant 0
    pop local 0
label Board_32
    push local 0
    push constant 20
    lt
    not
    if-goto Board_33
    push constant 0
    pop local 1
label Board_34
    push local 1
    push constant 10
    lt
    not
    if-goto Board_35
    push local 0
    push constant 10
    call Math.multiply 2
    push local 1
    add
    push this 0
    add
    pop pointer 1
    push that 0
    push constant 0
    eq
    not
    if-goto Board_37
    push pointer 0
    push local 1
    push local 0
    push constant 0
    call Board.drawCell 4
    pop temp 0
    goto Board_36
label Board_37
    push pointer 0
    push local 1
    push local 0
    push constant 1
    neg
    call Board.drawCell 4
    pop temp 0
label Board_36
    push local 1
    push constant 1
    add
    pop local 1
    goto Board_34
label Board_35
    push local 0
    push constant 1
    add
    pop local 0
    goto Board_32
label Board_33
    push constant 0
    return
function Board.drawBorder 0
    push argument 0
    pop pointer 0
    push constant 1
    neg
    call Screen.setColor 1
    pop temp 0
    push static 0
    push constant 1
    sub
    push static 1
    push constant 1
    sub
    push static 0
    push constant 10
    push static 2
    call Math.multiply 2
    add
    push static 1
    push constant 1
    sub
    call Screen.drawRectangle 4
    pop temp 0
    push static 0
    push constant 1
    sub
    push static 1
    push constant 20
    push static 2
    call Math.multiply 2
    add
    push static 0
    push constant 10
    push static 2
    call Math.multiply 2
    add
    push static 1
    push constant 20
    push static 2
    call Math.multiply 2
    add
    call Screen.drawRectangle 4
    pop temp 0
    push static 0
    push constant 1
    sub
    push static 1
    push constant 1
    sub
    push static 0
    push constant 1
    sub
    push static 1
    push constant 20
    push static 2
    call Math.multiply 2
    add
    call Screen.drawRectangle 4
    pop temp 0
    push static 0
    push constant 10
    push static 2
    call Math.multiply 2
    add
    push static 1
    push constant 1
    sub
    push static 0
    push constant 10
    push static 2
    call Math.multiply 2
    add
    push static 1
    push constant 20
    push static 2
    call Math.multiply 2
    add
    call Screen.drawRectangle 4
    pop temp 0
    push constant 0
    return