function Random.init 0
    push argument 0
    pop static 0
    push constant 0
    return
function Random.next 0
    push static 0
    push constant 181
    call Math.multiply 2
    push constant 359
    add
    pop static 0
    push static 0
    push constant 0
    lt
    not
    if-goto Random_1
    push static 0
    push constant 1
    add
    neg
    pop static 0
    goto Random_0
label Random_1
label Random_0
    push static 0
    return
function Random.nextBounded 1
    call Random.next 0
    pop local 0
    push local 0
    push local 0
    push argument 0
    call Math.divide 2
    push argument 0
    call Math.multiply 2
    sub
    return